.MainNews {

}

button.news {
	display: flex;
	align-items: center;
	max-width: 300px;
	padding: 4px 10px;
	line-height: 1.1;
	text-transform: inherit;
	background-color: #7ba5f0;
	cursor: pointer;

	& span span {
		margin-left: 10px;
		font-size: 10px;
		line-height: 1.4;
	}
}