html, body, #root {
	width: 100%;
	height: 100%;
}

main {
	height: 100%;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media (min-width: 600px) {
	.mob {
		display: none;
	}
}
