.search {
	width: 250px;
	position: relative;
	margin: 0 16px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.15);

	svg {
		height: 100%;
		display: flex;
		padding: 0px 16px;
		position: absolute;
		align-items: center;
		pointer-events: none;
		justify-content: center;
	}

	input {
		padding: 8px 8px 8px 0px;
		transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		padding-left: calc(1em + 32px);
	}
}